openapi: 3.1.0
x-stoplight:
  id: v91hopqk7ki3b
info:
  title: User API
  version: '1.0'
  description: |-
    User objects allow you to manage a user and the user’s attributes such as a department, phone number, employee number, email, and username. The API allows you to create, retrieve a user or a list of users, and update user information.

    ## The user object

    ## Attributes

    Property Name | Type | Description
    ------- | ------- | -------
    name | string | User's full name
    email | string | User's primary email used in profile
    role | string | The role of the user created (available roles are: 'Admin', 'Privileged', 'Participant')
    title | string | User's job title
    alternateEmail | string | User's secondary email in profile
    phone | string | Primary phone number of user
    location | string | Free text that can be used to define office location (e.g. City, State, Country)
    timezone | string | Time zone used to display to user the system times throughout Domo application
    locale | date-time | Locale used to display to user the system settings throughout Domo application
    employeeNumber | string | Employee number within company
servers:
  - url: 'https://api.domo.com'
    description: Domo API
paths:
  '/v1/users/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The ID of the user
    get:
      summary: Retrieve a user
      tags: []
      responses:
        '200':
          description: 'Returns a user object if valid user ID was provided. When requesting, if the user ID is related to a user that has been deleted, a subset of the user information will be returned, including a deleted property, which will be true.'
          headers: {}
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    alternateEmail: leonardeuler@email.com
                    createdAt: '2017-06-12T20:23:57Z'
                    email: leonard.euler@domo.com
                    employeeNumber: 23532
                    groups:
                      - id: 1324037627
                        name: Default
                    id: 871428330
                    image: 'https://instance.domo.com/avatar/thumb/domo/871428330'
                    location: American Fork
                    name: Leonard Euler
                    phone: 884-361-1078
                    role: Admin
                    title: Software Engineer
                    updatedAt: '2017-06-12T20:23:57Z'
                properties:
                  id:
                    type: integer
                  title:
                    type: string
                  email:
                    type: string
                  alternateEmail:
                    type: string
                  role:
                    type: string
                  phone:
                    type: string
                  name:
                    type: string
                  location:
                    type: string
                  roleId:
                    type: string
                  employeeNumber:
                    type: integer
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                  deleted:
                    type: boolean
                  image:
                    type: string
                  groups:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
              examples:
                Example 2:
                  value:
                    id: 871428330
                    title: Software Engineer
                    email: leonard.euler@domo.com
                    alternateEmail: leonardeuler@email.com
                    role: Admin
                    phone: 884-361-1078
                    name: Leonard Euler
                    location: American Fork
                    roleId: '1'
                    employeeNumber: 23532
                    createdAt: '017-06-12T20:23:57Z'
                    updatedAt: '2017-06-12T20:23:57Z'
                    deleted: false
                    image: 'https://instance.domo.com/avatar/thumb/domo/871428330'
                    groups:
                      - id: 1324037627
                        name: Default
      operationId: ''
      description: Retrieves the details of an existing user.
      parameters: []
    put:
      summary: Update a user
      operationId: ''
      responses:
        '200':
          description: Returns a 200 response code when successful.
      description: |-
        Updates the specified user by providing values to parameters passed. Any parameter left out of the request will cause the specific user’s attribute to remain unchanged.


        <!-- theme: yeild -->

        > #### Known Limitation
        >
        > Currently all user fields are required
      parameters:
        - schema:
            type: string
          in: query
          name: name
          description: User's full name
        - schema:
            type: string
          in: query
          name: email
          description: User's primary email used in profile
        - schema:
            type: string
          in: query
          description: 'The system role of the user (available roles are: ''Admin'', ''Privileged'', ''Participant'')'
          name: role
        - schema:
            type: integer
          in: query
          description: The ID of the system role of the user
          name: roled
        - schema:
            type: string
          in: query
          description: User's job title
          name: title
        - schema:
            type: string
          in: query
          description: User's secondary email in profile
          name: alternateEmail
        - schema:
            type: string
          in: query
          name: phone
          description: Primary phone number of user
        - schema:
            type: string
          in: query
          description: 'Free text that can be used to define office location (e.g. City, State, Country)'
          name: location
        - schema:
            type: string
          in: query
          name: timezone
          description: Time zone used to display to user the system times throughout Domo application
        - schema:
            type: string
          in: query
          name: locale
          description: Locale used to display to user the system settings throughout Domo application
        - schema:
            type: string
          in: query
          name: employeeNumber
          description: Employee number within company
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                role:
                  type: string
                name:
                  type: string
              x-examples:
                Example 1:
                  email: leonhard.euler@domo.com
                  role: Admin
                  name: Leonhard Euler
            examples:
              Example 1:
                value:
                  email: leonhard.euler@domo.com
                  role: Admin
                  name: Leonhard Euler
  /v1/users:
    post:
      summary: Create a user
      operationId: ''
      description: Creates a new user in your Domo instance.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                email:
                  type: string
                alternateEmail:
                  type: string
                role:
                  type: string
                phone:
                  type: string
                name:
                  type: string
                location:
                  type: string
                timezone:
                  type: string
                locale:
                  type: string
                employeeNumber:
                  type: integer
              x-examples:
                Example 1:
                  title: Software Engineer
                  email: leonhard.euler@domo.com
                  alternateEmail: leonhardeuler@email.com
                  role: Admin
                  phone: 888-361-1078
                  name: Leonhard Euler
                  location: American Fork
                  timezone: ''
                  locale: ''
                  employeeNumber: 23432
            examples:
              Example 1:
                value:
                  title: Software Engineer
                  email: leonhard.euler@domo.com
                  alternateEmail: leonhardeuler@email.com
                  role: Admin
                  phone: 888-361-1078
                  name: Leonhard Euler
                  location: American Fork
                  timezone: ''
                  locale: ''
                  employeeNumber: 23432
      responses:
        '200':
          description: Returns a user object when successful. The returned object will have user attributes based on the information that was provided when user was created. The two exceptions of attributes not returned are the user's timezone and locale.
          content:
            application/json:
              schema:
                type: object
                properties:
                  alternateEmail:
                    type: string
                  createdAt:
                    type: string
                  email:
                    type: string
                  employeeNumber:
                    type: integer
                  groups:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                  id:
                    type: integer
                  image:
                    type: string
                  location:
                    type: string
                  name:
                    type: string
                  phone:
                    type: string
                  role:
                    type: string
                  title:
                    type: string
                  updatedAt:
                    type: string
                x-examples:
                  Example 1:
                    alternateEmail: leonhardeuler@email.com
                    createdAt: '2017-06-12T20:16:59Z'
                    email: leonhard.euler@domo.com
                    employeeNumber: 23432
                    groups:
                      - id: 1324037627
                        name: Default
                    id: 959463190
                    image: 'https://instance.domo.com/avatar/thumb/domo/959463190'
                    location: American Fork
                    name: Leonhard Euler
                    phone: 888-361-1078
                    role: Admin
                    title: Software Engineer
                    updatedAt: '2017-06-12T20:16:59Z'
              examples:
                Example 1:
                  value:
                    alternateEmail: leonhardeuler@email.com
                    createdAt: '2017-06-12T20:16:59Z'
                    email: leonhard.euler@domo.com
                    employeeNumber: 23432
                    groups:
                      - id: 1324037627
                        name: Default
                    id: 959463190
                    image: 'https://instance.domo.com/avatar/thumb/domo/959463190'
                    location: American Fork
                    name: Leonhard Euler
                    phone: 888-361-1078
                    role: Admin
                    title: Software Engineer
                    updatedAt: '2017-06-12T20:16:59Z'
      parameters:
        - schema:
            type: string
          in: query
          name: name
          description: User's full name
          required: true
        - schema:
            type: string
          in: query
          name: email
          description: User's primary email used in profile
          required: true
        - schema:
            type: string
          in: query
          name: role
          required: true
          description: 'The role of the user created (available roles are: ''Admin'', ''Privileged'', ''Participant'')'
        - schema:
            type: boolean
          in: query
          name: sendInvite
          description: Send an email invite to created user
        - schema:
            type: string
          in: query
          name: title
          description: User's job title
        - schema:
            type: string
          in: query
          name: alternateEmail
          description: User's secondary email in profile
        - schema:
            type: string
          in: query
          name: phone
          description: Primary phone number of user
        - schema:
            type: string
          in: query
          name: location
          description: 'Free text that can be used to define office location (e.g. City, State, Country)'
        - schema:
            type: string
          in: query
          name: timezone
          description: Time zone used to display to user the system times throughout Domo application
        - schema:
            type: string
          in: query
          name: locale
          description: Locale used to display to user the system settings throughout Domo application
        - schema:
            type: string
          in: query
          name: employeeNumber
          description: Employee number within company
    parameters: []
    get:
      summary: List users
      operationId: ''
      responses:
        '200':
          description: Returns all user objects that meet argument criteria from original request.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    email:
                      type: string
                    role:
                      type: string
                    phone:
                      type: string
                    name:
                      type: string
                x-examples:
                  Example 1:
                    - id: 535460005
                      title: Supreme Ninja Master
                      email: hattori.hanzo@domo.com
                      role: Admin
                      phone: 801-787-8456
                      name: Hattori Hanzo
                    - id: 1845705061
                      title: Game Theory
                      email: john.nash@domo.com
                      role: Admin
                      name: 'John Forbes Nash, Jr.'
                    - id: 55541092
                      title: Electric Mayhem
                      email: doctor.teeth@domo.com
                      role: Privileged
                      name: Dr. Teeth
              examples:
                Example 1:
                  value:
                    - id: 535460005
                      title: Supreme Ninja Master
                      email: hattori.hanzo@domo.com
                      role: Admin
                      phone: 801-787-8456
                      name: Hattori Hanzo
                    - id: 1845705061
                      title: Game Theory
                      email: john.nash@domo.com
                      role: Admin
                      name: 'John Forbes Nash, Jr.'
                    - id: 55541092
                      title: Electric Mayhem
                      email: doctor.teeth@domo.com
                      role: Privileged
                      name: Dr. Teeth
      description: Get a list of all users in your Domo instance.
      parameters:
        - schema:
            type: integer
          in: query
          name: limit
          description: The amount of users to return in the list. The default is 50 and the maximum is 500.
        - schema:
            type: integer
          in: query
          name: offset
          description: The offset of the user ID to begin list of users within the response.
components:
  schemas: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
